<?php

namespace setup;

if (!defined('APP_ROOT')) {
    die('access denied');
}

function _display($page) {
    ?>

    <!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <meta name="description" content="">
            <meta name="author" content="">
            <link rel="icon" href="../../favicon.ico">

            <title><?= $page['title']; ?> - Set up Talentbase</title>

            <!-- Bootstrap core CSS -->
            <link href="css/bootstrap.min.css" rel="stylesheet">

            <!-- Custom styles for this template -->
            <link href="css/styles.css" rel="stylesheet">

            <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
            <!--[if lt IE 9]>
              <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
              <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
            <![endif]-->
            <script src="../js/jquery.min.js"></script>
            <script src="js/bootstrap.min.js"></script>
        </head>

        <body>

            <div class="container">
                <div class="header">
                    <nav>
                        <ul class="nav nav-pills pull-right">
                            <li role="presentation" class="active"><a href="https://talentbase.ng">Visit Site</a></li>
                            <!--                            <li role="presentation"><a href="#">About</a></li>
                                                        <li role="presentation"><a href="#">Contact</a></li>-->
                        </ul>
                    </nav>
                    <h3 class="text-muted">Talentbase Setup <?= ': ' . $page['title'] ?></h3>
                </div>

                <div class="row marketing">
                    <?php if ($page['callback'] && is_callable($page['callback'])) : ?>
                        <?= call_user_func($page['callback']) ?>
                    <?php else: ?>
                        <?= $page['content']; ?>
                    <?php endif; ?>
                </div>

                <footer class="footer text-right">
                    <p>&copy; TalentBase <?= date('Y')?></p>
                </footer>

            </div> <!-- /container -->


        </body>
    </html>
    <?php
}

function display_error($error, $prefix = '') {
    ?>
    <?php if ($error) : ?>
        <div class="alert alert-danger">
            <?= $prefix; ?> <?= $error; ?>
        </div>
    <?php endif; ?>
    <?php
}
?>
